# Default ignored files
/../../../../../../NANOCO~1/AppData/Local/Temp/interface_master.py14356709146361351905/.idea/shelf/
/../../../../../../NANOCO~1/AppData/Local/Temp/interface_master.py14356709146361351905/.idea/workspace.xml
